{% extends "layout.html"%}
{% block content %}


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">


                    <div class="row mt2">
                        <div class="col-lg-12">
                            <form class="form-wrapper" action="{{url_for('contact')}}" method="POST">
                                <h3>Get in tuch </h3>
                                <input type="text" class="form-control" placeholder="Your name">
                                <input type="text" class="form-control" placeholder="Email address">
                                <input type="text" class="form-control" placeholder="Phone">
                                <input type="text" class="form-control" placeholder="Subject">
                                <textarea class="form-control" placeholder="Your message"></textarea>
                                <button type="submit" class="btn btn-primary">Send <i class="fa fa-envelope-open-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end page-wrapper -->
            </div>
            <!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">

                    <div class="widget">
                        <h2 class="widget-title text-left">Recent visited</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">
                                <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="upload/blog_square_01.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">5 Beautiful buildings you need to before dying</h5>

                                    </div>
                                </a>

                                <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="upload/blog_square_02.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">Let's make an introduction for creative life</h5>

                                    </div>
                                </a>

                                <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 last-item justify-content-between">
                                        <img src="upload/blog_square_03.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">Did you see the most beautiful sea in the world?</h5>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- end blog-list -->
                    </div>
                    <!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Advertising</h2>
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                            </div>
                            <!-- end banner-img -->
                        </div>
                        <!-- end banner -->
                    </div>
                    <!-- end widget -->



                </div>
                <!-- end sidebar -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>

 

{% endblock %}
