{% extends "layout.html"%} {% block content %}

<section class="section first-section ">
    {% if brands %}
    <div class="container-fluid">
        <div class="masonry-blog clearfix ">
            <div class="left-side ">
                <div class="masonry-box post-media ">
                    <img src="../{{ brands[0]['img_path'] }}" alt="" height="550" width="250">
                    <div class="shadoweffect ">
                        <div class="shadow-desc ">
                            <div class="blog-meta ">
                                <span class="bg-pink"><a href="blog-category.html " title="">{{ brands[0]['section_name'] }}</a></span>
                                <h4><a href="single.html " title=" ">{{ brands[0]['desc'] }}</a></h4>
                            </div>
                            <!-- end meta -->
                        </div>
                        <!-- end shadow-desc -->
                    </div>
                    <!-- end shadow -->
                </div>
                <!-- end post-media -->
            </div>
            <!-- end left-side -->

            <div class="center-side ">
                <div class="masonry-box post-media ">
                    <img src="../{{ brands[1]['img_path'] }}" alt="" height="270" width="250">
                    <div class="shadoweffect ">
                        <div class="shadow-desc ">
                            <div class="blog-meta ">
                                <span class="bg-pink "><a href="blog-category.html" title="">{{ brands[1]['section_name'] }}</a></span>
                                <h4><a href="single.html " title=" ">{{ brands[1]['desc'] }}</a></h4>


                            </div>
                            <!-- end meta -->
                        </div>
                        <!-- end shadow-desc -->
                    </div>
                    <!-- end shadow -->
                </div>
                <!-- end post-media -->

                <div class="masonry-box small-box post-media ">
                    <img src="../{{ brands[2]['img_path'] }}" alt=" " height="270" width="250">
                    <div class="shadoweffect ">
                        <div class="shadow-desc ">
                            <div class="blog-meta ">
                                <span class="bg-pink "><a href="blog-category.html " title=" ">{{ brands[2]['section_name'] }}</a></span>
                                <h4><a href="single.html " title=" ">{{ brands[2]['desc'] }}</a></h4>
                            </div>
                            <!-- end meta -->
                        </div>
                        <!-- end shadow-desc -->
                    </div>
                    <!-- end shadow -->
                </div>
                <!-- end post-media -->

                <div class="masonry-box small-box post-media ">
                    <img src="../{{ brands[3]['img_path'] }}" alt=" " height="270" width="250">
                    <div class="shadoweffect ">
                        <div class="shadow-desc ">
                            <div class="blog-meta ">
                                <span class="bg-pink "><a href="blog-category.html " title=" ">{{ brands[3]['section_name'] }}</a></span>
                                <h4><a href="single.html " title=" ">{{ brands[3]['desc'] }}</a></h4>
                            </div>
                            <!-- end meta -->
                        </div>
                        <!-- end shadow-desc -->
                    </div>
                    <!-- end shadow -->
                </div>
                <!-- end post-media -->
            </div>
            <!-- end left-side -->

            <div class="right-side hidden-md-down ">
                <div class="masonry-box post-media ">
                    <img src="../{{ brands[4]['img_path'] }}" alt=" " height="550" width="250">
                    <div class="shadoweffect ">
                        <div class="shadow-desc ">
                            <div class="blog-meta ">
                                <span class="bg-pink "><a href="blog-category.html " title=" ">{{ brands[4]['section_name'] }}</a></span>
                                <h4><a href="single.html " title=" ">{{ brands[4]['desc'] }}</a></h4>
                            </div>
                            <!-- end meta -->
                        </div>
                        <!-- end shadow-desc -->
                    </div>
                    <!-- end shadow -->
                </div>
                <!-- end post-media -->
            </div>
            <!-- end right-side -->
        </div>
        <!-- end masonry -->
    </div>
    {% endif %}
</section>

<div class="container">
    <div class="col-md-12 m-sm-2">
        <div class="section-heading">
            <h2>Say Hello <span>To New </span>Visitor<br>
                <em> Top PIXELS </em></h2>
        </div>
    </div>
</div>

<section class="d-felx hidden-xs-down hidden-md-down hidden-sm-down ">
    <div class="container ">
        <div class="row x1 ">

            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                <!-- Carousel indicators -->

                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="row">
                            {% for pixel in top_pixel %}
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">

                                    <div class="img-box">
                                        <img src="../{{ pixel['img_path'] }}" height="250" width="250" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>{{ pixel['desc'] }}</h4>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="item carousel-item ">
                        <div class="row">
                            {% for pixel in top_pixel %}
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">

                                    <div class="img-box">
                                        <img src="../{{ pixel['img_path'] }}" height="250" width="250" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>{{ pixel['desc'] }}</h4>


                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>




<section class="section wb ">
    <div class="container-fluid ">

        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">

                    <div class="blog-grid-system ">
                        <div class="row">
                            {% for visit in visits %}
                            <div class="col-md-4 pb-4">
                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="single.html" title="">
                                            <img src="../{{ visit['img_path'] }}" width="600px" height="260px" alt="">
                                            <div class="hovereffect">
                                                <span></span>
                                            </div>
                                            <!-- end hover -->
                                        </a>
                                        <div class="shadoweffect ">
                                            <div class="shadow-desc ">
                                                <div class="blog-meta ">

                                                    <h4><a href="single.html " title="">{{ visit['desc'] }}</a></h4>

                                                </div>
                                                <!-- end meta -->
                                            </div>
                                            <!-- end shadow-desc -->
                                        </div>
                                        <!-- end shadow -->
                                    </div>
                                    <!-- end media -->

                                </div>
                                <!-- end blog-box -->
                            </div>
                            {% endfor %}
                            <!-- end col -->

                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end blog-grid-system -->
                </div>
                <!-- end page-wrapper -->


            </div>
            <!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    {% for like in likes %}
                    <div class="widget">
                        <div class="blog-box ">
                            <div class="post-media ">
                                <a href="single.html " title=" ">
                                    <img src="../{{ like['img_path'] }}" width="690px" height="545px" alt=" ">
                                    <div class="hovereffect ">
                                        <span></span>
                                    </div>
                                    <!-- end hover -->
                                    <div class="shadoweffect ">
                                        <div class="shadow-desc ">
                                            <div class="blog-meta ">

                                                <h4><a href="single.html " title=" ">{{ like['desc'] }}</a></h4>

                                            </div>
                                            <!-- end meta -->
                                        </div>
                                        <!-- end shadow-desc -->
                                    </div>
                                    <!-- end shadow -->
                                </a>
                            </div>
                            <!-- end media -->

                        </div>
                        <!-- end blog-box -->


                    </div>
                    {% endfor %}
                </div>
                <!-- end widget -->

            </div>
            <!-- end sidebar -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    <!-- end container -->
</section>

<div class="demo text-center m-3 ">
    <nav class="pagination-outer " aria-label="Page navigation ">
        <ul class="pagination ">
            <li class="page-item ">
                <a href="# " class="page-link " aria-label="Previous ">
                    <span aria-hidden="true ">Prev</span>
                </a>
            </li>
            <li class="page-item "><a class="page-link " href="# ">1</a></li>
            <li class="page-item active "><a class="page-link " href="# ">2</a></li>
            <li class="page-item "><a class="page-link " href="# ">3</a></li>
            <li class="page-item "><a class="page-link " href="# ">4</a></li>
            <li class="page-item "><a class="page-link " href="# ">5</a></li>
            <li class="page-item ">
                <a href="# " class="page-link " aria-label="Next ">
                    <span aria-hidden="true ">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}