{% extends "layout.html"%} 

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="section-heading">
                <h2>We Provide The <span>Best Service</span> With<br> Our Tools
                    <br><em> Our Services</em></h2>

            </div>
        </div>
    </div>
</div>
<div class="container c2">
    <div class="card">
        <div class="box">
            <div class="content">
                <h3>Best Content Ideas for your pages</h3>
                <p>Feel free to use this template for your business</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="box">
            <div class="content">
                <h3>Discover the digital marketing trend</h3>
                <p>Get to know more about the topic in details</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="box">
            <div class="content">
                <h3>Discover &amp; Explore our SEO Tips</h3>
                <p>Feel free to use this template for your business</p>
            </div>
        </div>
    </div>
</div>
<div class="about-us section ">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="section-heading">
                    <h2>Grow your website with our SEO Tools &amp; <span>Project</span> Management
                        <br>
                        <em>ABOUT US</em></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container c1">
        <div class="row justify-content-center">
            <div class="card ">
                <div class="box">
                    <div class="content">

                        <h1>Front end </h1>

                        <h4>Saja Ayad</h4>
                        <p>
                            Lorem ipsum dolor sit amete nisi explicabo et ad inventore laboriosam consectetur animi cupiditate, sunt atque quaerat.
                        </p>
                        <div class="social">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook "></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <!-- end social -->
                    </div>
                </div>
            </div>

            <div class="card ">
                <div class="box">
                    <div class="content">

                        <h1>Back end </h1>

                        <h4>Ali Najm</h4>
                        <p>
                            Lorem ipsum dolor sit amete nisi explicabo et ad inventore laboriosam consectetur animi cupiditate, sunt atque quaerat.
                        </p>
                        <div class="social">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook "></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <!-- end social -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}